body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .logo img {
    max-height: 50px;
    vertical-align: middle;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #222;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .user-actions {
    display: flex;
    align-items: center;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #222;
  }
  
  .btn-primary:hover {
    background-color: #555;
  }
  
  .btn-secondary {
    color: #222;
    background-color: #fff;
    border: 1px solid #222;
  }
  
  .btn-secondary:hover {
    background-color: #222;
    color: #fff;
  }
  
  .btn-icon {
    font-size: 20px;
    margin-left: 20px;
    color: #222;
  }
  
  .btn-icon:hover {
    color: #555;
  }


@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fa-regular-400.ttf')format('truetype');
  font-weight: normal;
  font-style: normal;
}

.fa {
  font-family: 'FontAwesome';
}
  /* Style the shipping icon */
.fa-truck {
  color: black;
  font-size: 24px;
}

/* Style the cart icon */
.fa-shopping-cart {
  color: black;
  font-size: 24px;
}
.fa-search {
    color: black;
    font-size: 24px;
  }


  .social-icons{
    padding:30px;
    background-color:#A95490;
      text-align: center;
  }
  .social-icons a{
    color:#fff;
    line-height:30px;
    font-size:30px;
    margin: 0 5px;
    text-decoration:none;
    
  }
  .social-icons a i{
      line-height:30px;
    font-size:30px;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
  }
  .social-icons a:hover i{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
  }
  