/* This style sheet is created for Goldfinch Jewerlry home page 
Created by: Olajumoke Ojikutu 
Date: May 1st, 2023 */

/* Import fonts - Font yet to be determined*/ 
@font-face {
    font-family:'ArtNuvo' ;
    src: url(/fonts/Art-nuvo.ttf);
}

@font-face {
    font-family: 'Frunchy';
    src: url(/fonts/FontsFree-Net-Frunchy.ttf);
}

/*Style for body to specify a background color and margin*/
body {
    background-color: #fff;
    margin: 10px 0px 10px 0px;
    marg
}

/* HEADER STYLING */
/* Style for the header of all the htmls*/
.header-container {
    width: 100%;
    position: sticky;
    top: 3;
    display: flex;
    justify-content: center;
}
.top-nav {
    width: 100%;
}

.top-nav-left {
    float: left;
}

.top-nav-right {
    float: right;
}

.top-nav-right ul li {
	float: right;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
}

.top-nav-right ul {
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.top-nav-left i {
    padding-left: 0.5em;
    color: #000000;
}

.top-right-nav-link li{
    padding-left: 0.5em;
}

.top-right-nav-link a {
    color: #560763;
    display: inline-block;
    text-decoration: none;
    position: relative;
}

.top-right-nav-link a:hover {
    color: #EED91A;
    box-shadow: none;
}

.top-right-nav-link a:active {
    color: #EED91A;
    box-shadow: none;
}

.top-right-nav-link li + li:after {
    content: " | ";
    padding: 0 10px;
    color: #000000;
}

/* Style the middle nav bar for the logo */
.mid-nav-bar a {
    margin: 0.2em;
    padding: 0.7em;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    font-family: 'Nova Script', cursive;
    font-style: italic;
    text-shadow: -1px 0 #AB08f8, 0 1px #AB08f8, 1px 0 #AB08f8, 0 -1px #AB08f8;
    color: #EED91A;
}

/* Style for the bottom nav bar */
nav {
    padding: 1em;
    background-color: #ac8fa9;
    width: 100%;
    cursor: default;
    text-align: center;
    position: absolute;
}

nav ul li a {
   color: #000000; 
   font-family: 'Roboto';
   display: inline-block;
   height: 2.25em;
   line-height: 2.25em;
   padding: 0 1.25em;
   border: 0;
   text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 0.35em;
    padding: 0;
    vertical-align: middle;
}

nav ul li a:hover {
    background-color: #fff;
}

nav ul li a:active {
    background-color: #fff;
    box-shadow: none;
}






  